@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
* {
  margin: 0%;
  padding: 0%;
  user-select: None;
}
:root {
  --background-color: #fff;
  --key-color: #f5f0f0;
  --text-size: 24px;
  --type-font: "Ubuntu Mono", monospace;
  --typed-color: grey;
  --to_type-color: #26243d;
}
body {
  background-color: var(--background-color);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; */
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 60%;
  margin: 0 auto;
}
.setting {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  color: black;
  font-size: 1em;
  letter-spacing: 0.3em;
  display: flex;
  margin: 3em auto;
  text-align: center;
}
.title h1 {
  font-family: var(--type-font);
  font-size: 28px;
}
.to_type {
  color: var(--to_type-color);
}
.typed {
  color: var(--typed-color);
}
.typed h1::after {
  content: "";
  width: 5px;
  height: 20px;
  background: #ec7fff;
  display: inline-block;
  animation-name: cursor-blink;
}
@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}
.keyboard {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.row {
  list-style: none;
  display: flex;
}
.char_area {
  height: 10%;
  text-align: center;
}
li {
  height: 3em;
  width: 3em;
  color: rgba(0, 0, 0, 0.7);
  line-height: 3em;
  letter-spacing: 1px;
  margin: 1px;
  transition: 0.3s;
  text-align: center;
  font-size: 1em;
}
#tab {
  width: 5em;
}
#caps {
  width: 6em;
}
#left-shift {
  width: 8em;
}
#enter {
  width: 6em;
}
#right-shift {
  width: 8em;
}
#back {
  width: 5em;
}
.key {
  border: 0.5px solid #f5f0f0;
  background-color: var(--key-color);
}
.selected {
  background-color: transparent;
  animation: select 3s all;
}

.valid_char_option button {
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
}
.select {
  background-color: aqua;
}
.not_select {
  background-color: #f5f0f0;
}
.info {
  display: flex;
  justify-content: stretch;
}
.info p {
  font-size: 14px;
  font-weight: 500;
  font-family: var(--type-font);
  color: grey;
  margin: 0.5rem 1rem;
}
.info p span {
  color: black;
}
hr-break {
  width: 40%;
}

.not_supported {
  display: None;
}
@media (max-width: 1151px) {
  .App {
    width: 90%;
  }
}

@media (max-width: 821px) {
  .not_supported {
    display: block;
  }
  .App {
    display: None;
  }
}
